/* //COLOr */
:root {
  --color-primary: #ff5353;
  --color-primary-2: #fef7f6;
  --color-primary-3:rgb(255, 83, 83,0.7);
  --color-primary-4: #e9e2d8;
  --color-blue: #0056b3;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #888;

  /* //FONT */
  --font-primary: 'Roboto', sans-serif;
  --font-primary-2: 'Dancing Script', cursive, sans-serif;
  --font-primary-size: 3.6rem;
  --font-primary-size-2: 3rem;
  --font-primary-size-3: 2.5rem;
  --font-display-size: 1.6rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-weight: 300;
  line-height: 1.7;
  font-family: var(--font-primary);
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}
