.heading-1 {
  color: var(--color-black);
  font-weight: 500;
  font-size: var(--font-primary-size);
  line-height: 1.7;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  border: none;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  font-size: var(--font-display-size);
  padding: 2rem 5rem;
  background: var(--color-primary);
  color: var(--color-primary-2);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background: var(--color-primary-2);
  color: var(--color-blue);
}